
@font-face {
  font-family: "Work Sans";
  src: url('./fontes/WorkSans-Light.otf');
}

@font-face {
  font-family: "Work Sans Bold";
  src: url('./fontes/WorkSans-Bold.otf');
}

:root {
  --back-color: #F2F2F2;
  --green: #3ABF53;
  --yellow: #FFE366;
  --blue: #6670ff;
  --red: #DE5757;
  --gray: #707070;
  --light-gray: #ACACAC;
  --white: rgb(250,250,250);
}

body, button, input, textarea, span {
  font-family: "Work Sans";
  color: gray;
}

body {
  margin: 0;
  background-color: var(--back-color);
}

.card {
  background-color: var(--white);
}

.rb {
  border-radius: 6px;
}

.tac {
  text-align: center;
}

.shadow {
  box-shadow: 0 2px 8px rgba(150,150,150,.4);
}
